<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>
  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
    <DefaultTimeout>60000</DefaultTimeout>
    <InternalTraceLevel>Info</InternalTraceLevel>
  </NUnit>
</RunSettings>
